.ColProjetos{
    text-align: -webkit-center;
}

.projetoBox{
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.175);
    margin:12px;
    height:160px;
    background-color:white;
    width:270px !important;
    max-width:270px;
    min-width:270px;
    border-radius:12px;
    text-align:-webkit-center;
}

.projeTitle{
        padding-top:8px !important;
    padding-bottom:8px;
    font-size:21px !important;
    font-weight:550
}
.projeDesc{

}


@media screen and (max-width: 380px) {
    .projeDesc{
        font-size:14px
    }
    .projeTitle{
        font-size:19px !important
    }
    .projetoBox{
        min-width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
 .projetoBox{
        min-width: 300px !important;
        width:300px
    }
}

@media screen and (max-width: 800px) {
 .projetoBox{
        min-width: 250px;
    }
}
.onlyGithub{
    margin: 10px !important; 
    /* margin-left: 30px !important;  */
    width: 80px !important; 
    margin-bottom: 12px !important; 
    background-color: #63e1a8 !important; 
    font-weight: 550 !important 
}
.githubButton{
    margin: 10px !important; 
    /* margin-left: 30px !important;  */
    width: 80px !important; 
    margin-bottom: 12px !important; 
    background-color: #63e1a8 !important; 
    font-weight: 550 !important 
}

.vercelButton{
   margin: 10px !important; 
   width: 80px !important; 
   margin-bottom: 12px !important; 
   background-color: #63e1a8 !important; 
   font-weight: 550 !important 
}