.RowMain{
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 550px) {
  .RowMain {
    margin-top:-50px;
    margin-bottom:-50px
  }
  .img{
   margin-left:-25px
  }
}

.ColEsquerda{
    max-width: 50%;
    width:50%;
    word-wrap: normal;
    box-sizing:border-box;
    font-size:25px;
    justify-content:center;
    align-items:center;
    margin-bottom:180px
}
.nameStrong{
    font-size: 29px;
}

.img{
    width:125%;
    margin-left:-35px;
    margin-top:-60px
}

.paragrafo{
    margin-bottom:1px !important
}

@media screen and (max-width: 550px) {
  .ColEsquerda {
    font-size:15px;
    width:55%;
    max-width: 55%;
    margin-bottom:50px
  }
  .nameStrong{
      font-size:17px
  }
  .img {
    width:140%;
margin-bottom:50px;
margin-left:-40px
  }
  .RowMain{
    padding-top:20px
  }
}