.RowMain{
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
}
@media screen and (max-width: 550px) {
  .RowMain {
    margin-top:10px;
    margin-bottom:-80px
  }
}

.ColEsquerda{
    max-width: 50%;
    width:50%;
    word-wrap: normal;
    box-sizing:border-box;
    font-size:21px;
    justify-content:center;
    align-items:center;
    margin-bottom:150px
}
.nameStrong{
    font-size: 25px;
}

.img{
    width:115%
}

.paragrafo{
    margin-bottom:1px !important
}

@media screen and (max-width: 550px) {
  .ColEsquerda {
    font-size:15px;
    width:60%;
    max-width: 70%;
    margin-bottom:50px
  }
  .nameStrong{
      font-size:17px
  }
  .img {
    width:140%;
margin-bottom:50px;
margin-left:-40px
  }
  .RowMain{
    padding-top:20px
  }
}