.containerMain{
    background-color:#d5f7e6;
    display:flex;
    height:55px;
   justify-content: space-between;
    align-items: center;
    /* position:sticky !important; */
    /* top:0; */
    z-index:1;
    width:100%;
    max-width: 100%;
    margin:0px;
}

.nome{
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size:22px;
    font-weight: 550;
    padding-left:15px;
}

.sobre{
    padding-top:5px !important;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight:500;
    padding-left:10px;
    padding-right:5px;
}

.projetos{
    padding-top:5px !important;
    justify-content: center;
    align-items: center;
    font-weight:500;
    padding-left:10px;
    font-size:15px;
}

 @media screen and (max-width: 550px) {
    .nome{
        font-size:0.9rem;
        padding-top:4px;
    }
    .sobre{
          font-weight: 600;
        font-size:0.6rem;
    }

 }

  @media screen and (max-width: 375px)  {
    .nome{
        font-size:0.8rem !important;
        padding-top:2px;
        color:red
    }
    .sobre{
        font-weight: 600;
        font-size:0.5rem !important;
    }

 }

 @media screen and (min-width: 750px) {
   .nome{
        font-size:1.4rem !important;
        padding-top:4px;
    }
    .sobre{
        font-weight: 700;
        font-size:1.1rem !important;
        margin-left:15px;
    }
 }


 
  @media screen and (max-width: 280px)  {
    .nome{
        font-size:0.5rem !important;
        padding-top:5px;
        color:red
    }
    .sobre{
        font-weight: 600;
        font-size:0.2rem !important;
        margin-right:2px !important;
    }

 }

  
  @media screen and (max-width: 320px)  {
    .nome{
        font-size:0.6rem !important;
        padding-top:3px;
        color:red;
    }
    .sobre{
        font-weight: 600;
        font-size:0.4rem !important;
        margin-right:5px !important;
    }

 }