.containerMain{
    background-color:#FFFFFF;
    display:flex;
    height:40px;
    justify-content: start;
    align-items: center;
    position:sticky !important;
    top:0;
    z-index:1;
    width:100%;
    max-width: 100%;
}

.nome{
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size:19px;
    font-weight: 550;
    padding-left:15px;
}

.sobre{
    padding-top:5px !important;
    justify-content: center;
    align-items: center;
    font-size:15px;
    font-weight:500;
    padding-left:10px;
}

.projetos{
    padding-top:5px !important;
    justify-content: center;
    align-items: center;
    font-weight:500;
    padding-left:10px;
    font-size:15px;
}

 @media screen and (max-width: 550px) {
    .nome{
        font-size:13px;
        padding-top:4px
    }
    .sobre{
        font-size:12px
    }

 }