.containerFooter{
  width:100%;
  max-width:100%;
  align-items: center;
  justify-content:center;
  text-align:center;
  height:85px;
  background-color:white;
}
.footerTop{
justify-content: center;
align-items: center;
text-align:center;
padding-bottom:2px;
font-weight: 540;
font-size:17px
}
.footerBottom{
justify-content: center;
align-items: center;
text-align:center;
}
.email{
  padding: 2px;
  padding-right:5px;
  padding-left:5px;
  border-radius: 4px;
  background-color: #0171c5;
  color:white;
  font-weight:540;
  font-size:16px
}

@media screen and (max-width: 550px) {
  .containerFooter{
      min-height:112px;
      height:112px
  }
  .footerTop{
   font-weight:500;
   font-size:17px
  }
}

@media screen and (max-width: 350px) {

  .containerFooter{
      min-height:115px
  }
}

.badge{
  background-color:#C0C0C0;
  border-radius:8px;
  justify-content: center;
  align-items: center;
  margin:5px;
  margin-right:8px;
  margin-left:8px;
  color:white;
  padding:3px;
  padding-right:5px;
  padding-left:5px
}