.footer{
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
    padding: 3px 8px;
    background-color: #FFF;
    bottom: 0;
    right: 0;
    position: inherit;
    font-size: 12px;
}@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:600px;
    padding-bottom:120px;
    display:none;
  }
}