*{
    font-family: Roboto Mono, monospace;
    /* margin:0px !important */
}

body{
    margin:0px;
    padding:0px;
    background-color:var(--background-color);
}

:root {
    --background-color:"";
    --background-secondary-color:"";
    --title-color:"";
    --label-color:"";
    --strong-color:"";
}

.fluidContainer{
    align-self:center;
    max-width: 1200px;
    /*height:100vh;*/
}