*{
    font-family: Roboto Mono, monospace;
    /* margin:0px !important */
}

body{
    margin:0px;
    padding:0px;
    background-color:var(--background-color);
}

:root {
    --background-color:#1d1d1d;
    --background-secondary-color:#2a2a2a;
    --title-color:#e5e5e5;
    --label-color:rgb(207,207,207);
    --strong-color:rgb(97 218 251);
}

.fluidContainer{
    align-self:center;
    max-width: 1200px;
    /*height:100vh;*/
}