.colStacks{
    text-align: -webkit-center;
      padding:0px;
    margin:0px;
}

.RowStacks{
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
}

.mainTitle{
    font-size:30px;
    font-weight:600;
    padding-bottom:15px
}

.stack{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.175);
    margin:15px;
    height:120px;
    background-color:white;
    width:270px !important;
    min-width:270px !important;
    max-width:270px;
    border-radius:12px;
    transition-duration: 500ms;
}.stack:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.175);
    transition-duration: 300ms;
    transform: scale(1.1, 1.1)
}

.tecTitle{
    padding-top:2px !important;
    padding-bottom:8px;
    font-size:21px !important;
    font-weight:550;
     white-space: nowrap !important
}
.tecImg{
    width: 60px !important;
    max-width:60px;
    height: 60px !important;
}

@media screen and (max-width: 550px) {
  .stack{
      width:115px !important;
      max-width:115px !important;
      min-width:115px !important;
      margin:15px !important;
      height:100px;
      min-height:100px;
      padding:0px;
      margin:0px;
  }
  .tecTitle{
      font-size:15px !important;
       white-space: nowrap !important
  }
  .tecImg{
      width:45px !important;
      height:45px !important;
  }
}

@media screen and (max-width: 450px) {
  .stack{
      width:150px !important;
      max-width:150px !important;
      min-width:150px !important;
  }
}

@media screen and (max-width: 375px) {
    .stack{
        min-height:90px !important;
        height:90px;
        min-width: 115px !important;
        width:115px !important;
    }
  .tecTitle{
      padding-top:5px !important;
      padding-bottom:2px !important;
      white-space: nowrap !important;
    justify-content: center !important;
    white-space: nowrap;
    text-align: center !important;
    padding: 0px !important;
      font-size:15px !important
  }
  .tecImg{
      width:48px !important;
      height:48px !important;
  }
}

@media screen and (min-width: 700px) {
    .tecTitle{
        font-size:1.2rem !important;
        white-space: nowrap !important
    }
}